*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1{
    font-size: 48px;
    font-weight: 100;
}
.contents1{
    font-size: 20px;
    font-weight: lighter; 
}

.contents3{
    font-size: 14px;
    font-weight: 100;
}

.result{
    font-size: 24px;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

.intro_bg{
    background-image:url("image/sese.png.png") ;
    height: 718px;
    width: 1920px;
}

.header{
    display: flex ;
    width: 1280px;
    margin: auto;
    height: 86px;

}
.searchArea{
    width: 300px;
    height: 40px;
    background:rgba(0,0,0,0.5);
    border-radius:5px ;
    margin-top: 24px;
}

.searchArea > form > input{
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0.0);
    color: #fff;
    padding-left: 10px;
}

.searchArea > form > span{
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;


}

.nav{
    display: flex ;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
 
    
}

.nav > li{
    margin-left: 34px;
}

.nav > li > a{
    color: #fff;
}


.intro_text{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}
.intro_text > h1,
.intro_text > h4{
    color: #fff;
}

.amount{
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
    margin: auto 320px auto 320px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: 132px;
    
}

.amount > li{
    flex:1;
   
}

.amount > li > div{
    text-align: center;
    border-right: 1px solid #E1E1E1;
    margin-top: 37px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;

}

/* main_text0 */

.main_text0{
    width: 100%;
    height: 601px;
    background:#f1f2f3 ;
    margin-top: -132px;
}

.main_text0 > h1{
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1{
    text-align: center;
}

.icons{
    display: flex;
    width: 1280px;
    background: #f1f2f3;
    margin: auto;
}

.icons > li{
    flex: 1;
    background: white;
    margin-top:  49px;
    height: 302px;
    text-align: center;
}

.icons > li > .icon_img{
    margin-top: 36px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
} 

.icons .contents3{
    width:190px ;
    margin: auto;
    letter-spacing: -1px;
}

.more{
    width: 100px;
    height:30px ;
    background: green;
    color: white;
    margin: auto;
    cursor: pointer;
}

footer{
    display: flex;
    background:#1f1f1f;
    padding: 30px;
    
}

footer > div:first-child{
    flex: 3;
    text-align: center;
    color: #fff;
    font-size: 10;
}

footer > div:last-child{
    flex: 9;
    color: #fff;
    

}


.fixedPosition > img{
    position: fixed;
    top: 200px;
    left: 60px;
}

.icon_img > img{
    width: 175px;
}